/* Universal Selector */

* {

    padding: 0;
    margin: 0;
}

    /* Navigation Menu */

    #navmenu {

        width: 100%;
        background-color: #D20440;
    }

    li {

        display: inline-block;
        padding: 10px; /* This padding might be optional.*/
        width: 10%;    /* Using other units could be a better option. */
        text-align: center;
        vertical-align: middle;
    }

    li:first-of-type {

        /* Add margin-right to the first li element with the img inside. */
        margin: 0 100px;
    }

    a {

        color: white;
        text-decoration: none;
    }

    a:hover, .active{

        color: black;
    }

    img {

        width: 150px;
        height: 75px;
    }

    /* Subnavigation Menu */

    li div {

        float: left;
        overflow: hidden;
    }

    .submenu-content {

        display: none;
        position: absolute;
        background-color: #D20440;
        min-width: 160px;
        z-index: 1;
        margin-left: -10px;
        margin-top: 10px;
    }

    .submenu-content a {

        float: none;
        color: black;
        padding: 20px 25px;
        display: block;
    }

    .submenu-content a:hover {

        background-color: aliceblue;
    }

    /* Target the right element that you need to be hovered on: the third li element. */

    li:nth-of-type(3):hover .submenu-content {

        display: block;
    }


